<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@MyPortal.Utils.Configuration.WebsiteName | @ViewBag.Title</title>
    @Styles.Render("~/Content/themes/metro/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body class="metro">
    <div class="doc">
        <header>
            <div id="title">
                <h1>@MyPortal.Utils.Configuration.WebsiteName</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogInPartial")
            </div>
        </header>
        <nav>
            @Html.Partial("_NavigationPartial")
        </nav>
        <section id="main">
            <h2>
                <a href="/"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>
                @ViewBag.Title
            </h2>
            @RenderBody()
        </section>
        <section id="right">
            @RenderSection("Right", required: false)
        </section>
        <footer>
            [ @Html.ActionLink(String.Format(Resources.Views.Shared.Layout.CopyRight, MyPortal.Utils.Configuration.WebsiteName, MyPortal.Utils.Configuration.CopyrightYear), "Index", "Home") ]
            [ @Html.ActionLink(Resources.Views.Shared.Layout.TermOfUse, "TermOfUse", "Home") ]
            [ @Html.ActionLink(Resources.Views.Shared.Layout.Privacy, "Privacy", "Home") ]
            [ @Html.ActionLink(Culture, "Index", "Culture") ]
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
