<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - MyPortal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <h1>MyPortal</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
        </header>
        <nav>
            <ul id="menu" class="metro-list">
                <li>@Html.ActionLink("Homepage", "Index", "Home")</li>
                <li>@Html.ActionLink("Services", "Index", "Service")</li>
                <li>@Html.ActionLink("Article", "Index", "Article")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </nav>
        <section id="main">
        <h1>@ViewBag.Title</h1>
            @RenderBody()
        </section>
        <footer>
            Copyright 2013 @{if (DateTime.Now.Year > 2013)
                               {<text>"-" + DateTime.Now.Year.ToString()</text>}} &copy; MyPortal. All right reserved.
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
