<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - MyPortal</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <h1>MyPortal</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogInPartial")
            </div>
        </header>
        <nav>
            @Html.Partial("_NavigationPartial")
        </nav>
        <section id="main">
            <h1>@ViewBag.Title</h1>
            @RenderBody()
        </section>
        <footer>
            Copyright 2013 @{if (DateTime.Now.Year > 2013)
                             {<text>"-" + DateTime.Now.Year.ToString()</text>}} &copy; MyPortal. All right reserved.
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
