@if (Request.IsAuthenticated)
{
    <text>Hello @Html.ActionLink(User.Identity.Name, "Manage", "Account")! </text>
    using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logOutForm", style = "display:inline;" }))
    {
    @Html.AntiForgeryToken()
    <text>[ <a href="javascript:document.getElementById('logOutForm').submit()">Resources.Views.Shared.LoginPartial.lnkLogin_Text</a> ]</text>
    }
}
else
{
    <text>[ @Html.ActionLink(Resources.Views.Shared.LoginPartial.lnkLogin_Text, "Login", "Account") ]
    [ @Html.ActionLink(Resources.Views.Shared.LoginPartial.lnkRegister_Text, "Register", "Account") ]</text>
}
[ @Html.ActionLink(Culture, "Index", "Culture") ]