<ul id="menu" class="metro-list">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Service", "Index", "Service")</li>
    <li>@Html.ActionLink("Article", "Index", "Article")</li>
    <li>@Html.ActionLink("Career", "Index", "Career")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>
