<ul id="menu" class="metro-list">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Services", "Index", "Service")</li>
    <li>@Html.ActionLink("Articles", "Index", "Article")</li>
    <li>@Html.ActionLink("Career", "Index", "Career")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>
