@model MyPortal.Models.LocalPasswordModel
<h3>
    Change password</h3>
@using (Html.BeginForm("Manage", "Account"))
{
    <p>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
    </p>
    <p>
        @Html.LabelFor(m => m.OldPassword, new { Class = "editor-label" })
        @Html.PasswordFor(m => m.OldPassword, new { Class = "editor-field" })

        @Html.LabelFor(m => m.NewPassword, new { Class = "editor-label" })
        @Html.PasswordFor(m => m.NewPassword, new { Class = "editor-field" })

        @Html.LabelFor(m => m.ConfirmPassword, new { Class = "editor-label" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { Class = "editor-field" })
    </p>
    <p>
        <input type="submit" value="Change password" />
    </p>
}
