@model MyPortal.Models.LoginModel
@{
    ViewBag.Title = Resources.Views.Account.Login.Title;
}
<section id="loginForm">
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        
        @Html.LabelFor(m => m.UserName, new { Class = "editor-label" })
        @Html.TextBoxFor(m => m.UserName, new { Class = "editor-field" })
        <text>&nbsp;</text>@Html.ValidationMessageFor(m => m.UserName)

        @Html.LabelFor(m => m.Password, new { Class = "editor-label" })
        @Html.PasswordFor(m => m.Password, new { Class = "editor-field" })
        <text>&nbsp;</text>@Html.ValidationMessageFor(m => m.Password)

        <div class="input-control checkbox editor-field clear" data-role="input-control">
            <label>
                <input id="RememberMe" name="RememberMe" type="checkbox" value="true">
                <input name="RememberMe" type="hidden" value="false">
                <span class="check"></span>
                Remember me?
            </label>
        </div>
        
        <input class="editor-field clear" type="submit" value="@Resources.Views.Account.Login.btnLogin_Text" />
        
        <label>@Html.ActionLink(Resources.Views.Account.Register.Title, "Register") @Resources.Views.Account.Login.RecommendRegister</label>
    }
</section>
@section Right{
    @Html.Action("ExternalLoginsSuggestionList")
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
