@model MyPortal.Models.LoginModel
@{
    ViewBag.Title = Resources.Views.Account.Login.Title;
}
<section id="loginForm">
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        <p>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
        </p>
        <p>
            @Html.LabelFor(m => m.UserName, new { Class = "editor-label" })
            @Html.TextBoxFor(m => m.UserName, new { Class = "editor-field" })
            @Html.ValidationMessageFor(m => m.UserName)

            @Html.LabelFor(m => m.Password, new { Class = "editor-label" })
            @Html.PasswordFor(m => m.Password, new { Class = "editor-field" })
            @Html.ValidationMessageFor(m => m.Password)
        </p>
        <p>
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
        </p>
        <p>
            <input type="submit" value="@Resources.Views.Account.Login.btnLogin_Text" />
        </p>
        <p>
            @Html.ActionLink(Resources.Views.Account.Register.Title, "Register") @Resources.Views.Account.Login.RecommendRegister
        </p>
    }
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
