@model MyPortal.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<section id="loginForm">
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        <p>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @Html.LabelFor(m=>m.UserName)<br />
            @Html.TextBoxFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName)<br />

            @Html.LabelFor(m=>m.Password)<br />
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)<br />

            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })<br />
        </p>
        
        <input type="submit" value="Log in" />
        
        <br />
    }
</section>

@*<section class="social" id="socialLoginForm">
    <h3>Or use another service to log in.</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

<p>
    @Html.ActionLink("Register", "Register") if you don't have an account.
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
