@model MyPortal.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <p>
        @Html.LabelFor(m => m.UserName, new { Class = "editor-label" })
        @Html.TextBoxFor(m => m.UserName, new { Class = "editor-field" })
        @Html.ValidationMessageFor(m => m.UserName)
    </p>
    <p>
        @Html.LabelFor(m => m.Password, new { Class = "editor-label" })
        @Html.PasswordFor(m => m.Password, new { Class = "editor-field" })
        @Html.ValidationMessageFor(m => m.Password)
    </p>
    <p>
        @Html.LabelFor(m => m.ConfirmPassword, new { Class = "editor-label" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { Class = "editor-field" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </p>
    <input type="submit" value="Register" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
