@model MyPortal.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <p>
        @Html.LabelFor(m => m.UserName)<br />
        @Html.TextBoxFor(m => m.UserName)<br />

        @Html.LabelFor(m => m.Password)<br />
        @Html.PasswordFor(m => m.Password)<br />

        @Html.LabelFor(m => m.ConfirmPassword)<br />
        @Html.PasswordFor(m => m.ConfirmPassword)<br />
    </p>
    <input type="submit" value="Register" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
