@using Microsoft.Owin.Security

@{
    ViewBag.Title = "Log On";
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
}

<div class="jumbotron">
    <h1>Log On</h1>
    <p class="lead">No registration, don't need to remember new password, just connect your social network to log on :)</p>
    @{
        using (Html.BeginForm("LogOn", "Account", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <p>
                @foreach (AuthenticationDescription p in loginProviders)
                {
                    <button type="submit" class="btn btn-primary" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                }
            </p>
        }}
</div>