@using Core.Models
@using Microsoft.Owin.Security
@model Account

@{
    ViewBag.Title = "LogOn";
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
}

<h4>Register or Log on or Using 3rd party account</h4>
<br />

@using (Html.BeginForm("LogOn", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="row">
        <div class="col-md-6 register-panel">
            <div class="form-group">
                @Html.LabelFor(m => m.AccountName, new { @class = "col-md-6 control-label" })
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.AccountName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-6 control-label" })
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-6 control-label" })
                <div class="col-md-6">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-6 control-label" })
                <div class="col-md-6">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-6 col-md-6">
                    <input type="submit" class="btn btn-success" value="Register" />
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.AccountName, new { @class = "col-md-6 control-label" })
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.AccountName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-6 control-label" })
                <div class="col-md-6">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-6 col-md-6">
                    <input type="submit" class="btn btn-success" value="Log On" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12 control-label ">Log on using 3rd party account...</label>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log on using your @p.Caption account">@p.AuthenticationType</button>
                    }
                </div>
            </div>
        </div>
    </div>
}
