<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wrapper">
        <div id="container">
            <div id="header">
                <span id="auth-area">
                    @if (Request.IsAuthenticated)
                    {
                        <text>Xin chào <strong>@User.Identity.Name</strong>! @Html.ActionLink("Trang Cá Nhân", "UserProfile", "Account")
                        | @Html.ActionLink("Đăng Xuất", "LogOff", "Account")
                        </text>
                    }
                    else
                    {
                        <text>
                        @Html.ActionLink("Đăng Ký", "Register", "Account", routeValues: null, htmlAttributes: null)
                        |
                        @Html.ActionLink("Đăng Nhập", "Login", "Account", routeValues: null, htmlAttributes: null)
                        </text>
                    }
                </span>
                <ul id="nav">
                    <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
                    <li>@Html.ActionLink("Sản Phẩm", "Product", "Index")</li>
                    <li>@Html.ActionLink("Tin Tức", "Index", "Article")</li>
                    <li>@Html.ActionLink("Liên Hệ", "Contact", "Home")</li>
                </ul>
                <h1>
                    WEBER SITE
                </h1>
            </div>
            <div id="dashboard">
                <img src="~/images/welcome-icon.gif" style="width: 190px; height: 165px;" alt="Xin Chào!"
                    class="left" />
                <div class="para left">
                    <strong>Weber - Uy Tín - Chất Lượng</strong>
                    <p>
                        Đây là trang web chuyên về gia sư, đến với chúng tôi:
                        <ul style="font-style: italic; font-size: 9pt;">
                            <li>Quý phụ huynh, học sinh có thể tìm cho mình những gia sư thật sự có chất lượng.</li>
                            <li>Các gia sư sẽ dễ dàng tìm được những lớp phù hợp với khả năng của mình.</li>
                        </ul>
                    </p>
                    <strong><a class="button-img but-orange" href="~/Tutor/Register"><span class="icon icon-submit">
                    </span><span>Đăng ký tìm lớp</span></a></strong>
                </div>
            </div>
            @{string contentMainWidth = (920 - 200).ToString() + "px";}
            <div id="contentmain" style="float:left; width:@contentMainWidth">
                @RenderSection("featured", required: false)
                @RenderBody()
            </div>
            <div style="float: right; width: 200px; padding: 15px 10px 15px 0px">
                <div id="slider-vertical">
                    Ads banners
                </div>
            </div>
            <div id="subfooter">
                <table cellspacing="0" cellpadding="2" border="0" align="center" style="margin: 15px;">
                    <tr>
                        <td width="25%" align="left" style="padding-left: 10px; padding-right: 10px; text-align: justify;
                            vertical-align: top; border-right: 1px dashed #DADADA;">
                            <h1 style="color: #8cbf26;">
                                Weber.ToUpper()</h1>
                            Weber là trang chuyên về mảng gia sư, nhằm tạo điều kiện cho quý phụ huynh tìm cho
                            con em mình một gia sư giỏi. Bên cạnh đó cũng góp phần tạo điều kiện cho các bạn
                            sinh viên tìm được những lớp phù hợp với khả năng của mình, giúp các bạn có cơ hội
                            truyền đạt kiến thức mình có cho các bạn học sinh cấp dưới, đồng thời cũng có thêm
                            thu nhập, góp phần trang trải cho việc học của mình.
                        </td>
                        <td width="25%" align="left" style="padding-left: 10px; padding-right: 10px; text-align: justify;
                            vertical-align: top; border-right: 1px dashed #DADADA;">
                            <h1 style="color: #1ba1e2;">
                                VÀI NGUYÊN TẮC</h1>
                            <ul>
                                <li>Khi đăng tin, phải đảm bảo thông tin được đăng là chính xác.</li>
                                <li>Weber có toàn quyền xóa những tin không phù hợp với nội dung của trang web mà không
                                    cần báo trước.</li>
                            </ul>
                        </td>
                        <td width="25%" align="left" style="padding-left: 10px; padding-right: 10px; text-align: justify;
                            vertical-align: top;">
                            <h1 style="color: #f09609;">
                                ĐÔI LỜI TRI ÂN</h1>
                            Trang web vẫn đang trong quá trình phát triển về nội dung. Do vậy, chúng tôi rất
                            mong nhận được sự đóng góp ý kiến và ủng hộ của tất cả các quý phụ huynh và sinh
                            viên. Rất vui khi quý độc giả giới thiệu trang web này đến những ai mà các bạn biết.
                            Weber chân thành cảm ơn qúy vị!
                        </td>
                    </tr>
                </table>
            </div>
            <div id="footer">
                Bản quyền @DateTime.Now.Year thuộc về Weber. Giữ toàn quyền.<br />
                @Html.ActionLink("Trang Chủ", "Index", "Home") |
                @Html.ActionLink("Giới Thiệu", "About", "Home") |
                @Html.ActionLink("Tin Tức", "Index", "News") |
                @Html.ActionLink("Liên Hệ", "Contact", "Home")
            </div>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        @RenderSection("scripts", required: false)
        <script type="text/javascript">
            var mainDiv = document.getElementById("contentmain");
            var adsDiv = document.getElementById("slider-vertical");
            adsDiv.setAttribute("style", "height:" + (mainDiv.offsetHeight - 30) + "px")
        </script>
    </div>
</body>
</html>
