<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>@Core.GlobalConfiguration.WEBSITE_NAME | @ViewBag.Title</title>
    @Styles.Render("~/css/bootstrap")
</head>
<body>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li class="active"><a href="#">New</a></li>
                <li><a href="#">Hot</a></li>
                <li><a href="~/Account/LogOn">You</a></li>
            </ul>
            <h3 class="text-muted"><a class="website-name" href="~/">@Core.GlobalConfiguration.WEBSITE_NAME</a></h3>
        </div>
        <div class="content">
            @RenderBody()
        </div>
        <div class="footer">
            <p>&copy; @Core.GlobalConfiguration.WEBSITE_NAME 2014</p>
        </div>
    </div> <!-- /container -->
    @Scripts.Render("~/js/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>